<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ name  }} Order System</title>
  <meta name="description" content="{{ name }} Order System">
  <meta name="author" content="{{ author }}">

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="http://example.com/image.png" />
  <link rel="apple-touch-icon" href="somepath/image.png" />
  
  <!-- Stylesheets -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div class="title">
    <h1>{{ name }} Order System <span>Demo</span></h1>
  </div>
  
  <ul class="grid">
    {%- for row in items  %}
    {%- for item in row %}
    <li><button id="{{ item }}"><h1>{{ item }}</h1></button></li>
    {%- endfor %}
    {%- endfor %}
  </ul>

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/awesome-grid.min.js"></script>
  <script src="js/pushoverJs.js"></script>
  <script>
    var push_appToken = '{{ pushover_apptoken }}';
    var push_userKey  = '{{ pushover_userkey }}';
    var push = new PushoverJs(push_appToken, push_userKey);

    $(window).load(function(){
      $('ul.grid').AwesomeGrid({
        rowSpacing  : 20,
        colSpacing  : 20,
        columns     : {
          'defaults' : 4,
          '800' : 2
        }
      });
    });

    $("button").click(function(){
      var that = $(this);
      if (that.prop("disabled")) {
        // Button still blocked. Do nothing.
      } else {
        push.createMessage(that.id, '{{ name }}').send();
        that.prop("disabled", true);
        setTimeout( function() { that.prop("disabled", false); } , 5000);
      }
    });
  </script>
</body>
</html>
