<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ name  }} Order System</title>
  <meta name="description" content="{{ name }} Order System">
  <meta name="author" content="{{ author }}">

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="img/image.png" />
  <link rel="apple-touch-icon" href="img/image.png" />
  
  <!-- Stylesheets -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/my.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1>{{ name }} Order System <small>Demo</small></h1>
    </div>
  
    {%- for row in items  %}
    <div class="row margin-top-20">
      {%- for item in row %}
      <div class="col-md-3"><button type="button" class="btn btn-primary btn-lg btn-block" name="{{ item }}"><h1>{{ item }}</h1></button></div>
      {%- endfor %}
    </div>
    {%- endfor %}
  </div>

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/pushoverJs.js"></script>
  <script>
    var push_appToken = '{{ pushover_apptoken }}';
    var push_userKey  = '{{ pushover_userkey }}';
    var push = new PushoverJs(push_appToken, push_userKey);

    $("button").click(function(){
      if ($(this).prop("disabled")) {
        // Button still blocked. Do nothing.
      } else {
        push.createMessage(this.name, '{{ name }}').send();
        $(this).prop("disabled", true);
        setTimeout( function() { $(this).prop("disabled", false); } , 5000);
      }
    });
  </script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
